<div class="container">
  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center  bg-info text-white my-2">
    <div class="p-2 w-90">
      <form action="/logout?_method=DELETE" method="POST">
        <div class="input-group my-3">
          <h5>Hi {{name}}</h5>
          <div class="input-group-append">
            <button type="submit" class="ml-3">Log Out <i class="fas fa-sign-out-alt"></i></button>

            {{!-- <button class="btn btn-primary" type="button" id="searchBtn"><i class="fa fa-search"></i></button> --}}
          </div>
        </div>
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>